.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
}

.header {
  display: flex;
  align-items: center;
  background: #e5e7eb; /* เทาอ่อน */
  padding: 1rem;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
}

.input {
  width: 300px;
  padding: 12px;
  margin-bottom: 16px;
  background: #e5e7eb;
  border: none;
  border-radius: 6px;
}

.button {
  width: 300px;
  padding: 12px;
  background: #e5e7eb;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}
